
html {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, white, #00C9AB);
    
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 10px #000000;
    font-size: 50px;
}

#lollipop{
text-align: center;
}

#must {
  transition: width 2s, height 2s, transform 2s;
   position: absolute;
    left: 310px;
    bottom: 250px;
   
 

   

}

#glasses{
    transform: translate(160px, -790px);
}


